<meta charset="UTF-8">
<title>GLYPH</title>
<meta name="description" content="名古屋市立大学芸術工学部の夏の展示会「卓展」での作品をより多くの人に見ていただくためのポートフォリオサイトです。GLYPHでは文字に関する作品を制作しました。">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="GLYPH" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://taku-ten.com/glyph/sp" />
<meta property="og:image" content="../images/common/og.png" />
<meta property="og:description" content="名古屋市立大学芸術工学部の夏の展示会「卓展」での作品をより多くの人に見ていただくためのポートフォリオサイトです。GLYPHでは文字に関する作品を制作しました。" />
<meta property="og:site_name" content="GLYPH" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@j8co38" />
<meta name="twitter:title" content="GLYPH" />
<meta name="twitter:description" content="名古屋市立大学芸術工学部の夏の展示会「卓展」での作品をより多くの人に見ていただくためのポートフォリオサイトです。GLYPHでは文字に関する作品を制作しました。" />
<meta name="twitter:image:src" content="../images/common/og.png" />
<link rel="icon" type="image/vnd.microsoft.icon" href="../images/common/favicon.ico">
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="../css/animsition.min.css">
<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>