<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body id="sp">
	<h1>
		<img src="../images/common/logo_ff.png" alt="GLYPH">
	</h1>
	<p>スマートフォンには対応していません。<br>
		ごめんなさい。<br>
		いつか対応しようと思います。。<br>
		ぜひパソコンからご覧下さい！<br>
		http://taku-ten.com/glyph
	</p>
	<div class="dogeza">
		<img src="../images/common/dogeza.png" alt="ごめんなさい">
	</div>
</body>
</html>