<!DOCTYPE html>
<html lang="jp">
<head>
	<meta charset="UTF-8">
	<title>H045 | Download Page</title>
	<meta name="description" content="卓展2016で制作したフォント「H045」のダウンロードページです。このフォントはHelveticaと菊池敦己さんの制作した青森県立美術館オリジナルフォントに影響を受けて制作しました。">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="H045 | Download Page" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://taku-ten.com/glyph/more" />
	<meta property="og:image" content="../images/more/og.ong" />
	<meta property="og:description" content="卓展2016で制作したフォント「H045」のダウンロードページです。このフォントはHelveticaと菊池敦己さんの制作した青森県立美術館オリジナルフォントに影響を受けて制作しました。" />
	<meta property="og:site_name" content="H045 | Download Page" />

	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="http://taku-ten.com/glyph" />
	<meta name="twitter:creator" content="" />
	<meta name="twitter:title" content="H045 | Download Page" />
	<meta name="twitter:description" content="卓展2016で制作したフォント「H045」のダウンロードページです。このフォントはHelveticaと菊池敦己さんの制作した青森県立美術館オリジナルフォントに影響を受けて制作しました。" />
	<meta name="twitter:image:src" content="../images/more/og.ong" />

	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/more.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/common.js"></script>
</head>
<body id="more">
	<section id="container-more">
		<h1>H045</h1>
		<section class="intro">
			<p class="media-pc">このフォントはHelveticaと菊池敦己さんの制作した<br>
				青森県立美術館オリジナルフォントに影響を受けて制作しました。<br>
				特徴は0度、±45度、90度の同じ幅の直線で作られていることです。<br>
				個人利用はご自由にどうぞ。<br>
				気に入っていただけると幸いです。</p>
			<p class="media-sp">このフォントはHelveticaと菊池敦己さんの制作した青森県立美術館オリジナルフォントに影響を受けて制作しました。特徴は0度、±45度、90度の同じ幅の直線で作られていることです。個人利用はご自由にどうぞ。気に入っていただけると幸いです。</p>
			<p class="media-pc">This font is inspired by <span class="italic">Helvetica</span> and <span class="italic">Aomori Museum</span><br>
				of <span class="italic">Art original font</span>, produced by Atsuki Kikuchi.<br>
				The most significant characteristic of this font is 4 angles of equal width straight lines;
				angle 0, ± 45 and 90 degrees.<br>
				You can freely use this font in personal purpose.<br>
				I wish you like it.</p>
			<p class="media-sp">This font is inspired by <span class="italic">Helvetica</span> and <span class="italic">Aomori Museum</span>
				of <span class="italic">Art original font</span>, produced by Atsuki Kikuchi.
				The most significant characteristic of this font is 4 angles of equal width straight lines;
				angle 0, ± 45 and 90 degrees.
				You can freely use this font in personal purpose.
				I wish you like it.</p>
		</section>
		<section class="sample-txt clearfix">
			<div class="left">
				<h2>H045 Reguler</h2>
				<p>The quick brown<br>
					fox jumps over<br>
					the lazy dog</p>
			</div>
			<div class="right">
				<h2 class="italic">H045 Reguler Italic</h2>
				<p class="italic">The quick brown<br>
					fox jumps over<br>
					the lazy dog</p>
			</div>
		</section>
		<section class="download">
			<p>Download here!</p>
			<p class="arrow"><img src="../images/more/arrow.png" alt=""></p>
			<p class="download-button"><a href="../fonts/H045.zip"><img src="../images/more/zip-btn.png" alt="zip download"></a></p>
		</section>
		<footer id="footer-more">
			<p>by Azusa Oba</p>
			<p>Nagoya City Univ.</p>
			<p><a href="http://taku-ten.com" target="_blank">taku-ten.com</a></p>
		</footer>
	</section>
</body>
</html>