#container {
	width: $content-width;
	margin: 0 auto;
}

header {
	position: relative;
	padding: 26px 0;
	h1 {
		img {
			width: 180px;
			height: auto;
		}
	}
	nav {
		position: absolute;
		top: 50px;
		right: 0;
		li {
			display: inline-block;
			padding: 0 0 0 20px;
			font-size: 0.85em;
			letter-spacing: 0.08em;
		}
		li + li {
			margin: 0 0 0 16px;
			border-left: 1px solid;
		}
	}
}

#contents {
	.swiper-slide {
		position: relative;
		.swiper-ttl {
			position: absolute;
			top: 32%;
			left: 40px;
			color: #000;
			font-size: 2.1em;
			font-weight: bold;
			letter-spacing: 0.1em;
		}
		.swiper-name {
			position: absolute;
			top: 40%;
			left: 40px;
			color: #000;
			font-size: 0.9em;
		}
		.swiper-comment {
			position: absolute;
			left: 40px;
			bottom: 50px;
			width: 280px;
			color: #000;
			font-size: 0.8em;
			line-height: 1.6em;
			letter-spacing: 0.1em;
		}
	}
	.swiper-pagination {
		font-size: 0.88em;
		letter-spacing: 0.1em;
	}
	// .work-list {
	// 	margin: 10px 0 0;
	// 	font-size: 0.80em;
	// 	letter-spacing: 0.08em;
	// 	li {
	// 		display: inline-block;
	// 		width: 252px;
	// 		margin: 0 0 10px 0;
	// 		color: rgb(153,153,153);
	// 		a {
	// 			color: rgb(153,153,153);
	// 		}
	// 	}
	// }
}