<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<div id="svg-anime-wrap">
		<div id="svg-anime">
			<img src="./images/common/logo.svg">
		</div>
	</div>
	<section id="container">
		<header>
			<h1><img src="./images/common/logo.png" alt="GLYPH"></h1>
			<nav>
				<ul>
					<li><a href="index.html" class="animsition-link">portfolio</a></li>
					<li><a href="about.html" class="animsition-link">about</a></li>
				</ul>
			</nav>
		</header>
		<section id="contents" class="animsition" data-animsition-in-class="fade-in-up-sm" data-animsition-in-duration="1000" data-animsition-out-class="fade-out-up-sm" data-animsition-out-duration="800">
			<!-- Swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ All members</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/02.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Kazuho Endo</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Sayuri Ohasi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Azusa Oba</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Azusa Oba</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Satoko Yamakawa</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Takahiro Nagayoshi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Mana Takaishi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Suzuka Tomiishi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Seika Yoneyama</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Hinae Usami</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Seiya Mishima</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Kanon Okayama</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Tomoko Shirai</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Mei Kawashima</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Fumine Sugiura</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination"></div>
			</div>
			<!-- Swiper end -->
		</section>
		<footer>
			<p class="copy">&copy; 2016 GLYPH</p>
		</footer>
	</section>
	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			effect: 'fade',
			parallax: true,
			speed: 600,
			paginationBulletRender: function (index, className) {
		　　return '<span class="' + className + '">' + ["01 GLYPHs - All members","02 title - Kazuho Endo","03 title - Sayuri Ohashi","04 title - Azusa Oba","05 title - Azusa Oba","06 title - Satoko Yamakawa","07 title - Takahiro Nagayoshi","08 title - Mana Takaishi","09 title - Suzuka Tomiishi","10 title - Seika Yoneyama","11 title - Hinae Usami","12 title - Seiya Mishima","13 title - Kanon Okayama","14 title - Tomoko Shirai","15 title - Mei Kawashima","16 title - Fumine Sugiura"][index] + '</span>';
		　}
		});
		$(document).ready(function() {
			//------------------animsition----------------------
			$(".animsition").animsition({
				inClass: 'fade-in-up-sm',
				outClass: 'fade-out-up-sm',
				inDuration: 1500,
				outDuration: 800,
				linkElement: '.animsition-link',
				// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
				loading: true,
				loadingParentElement: 'body', //animsition wrapper element
				loadingClass: 'animsition-loading',
				loadingInner: '', // e.g '<img src="loading.svg" />'
				timeout: false,
				timeoutCountdown: 5000,
				onLoadEvent: true,
				browser: [ 'animation-duration', '-webkit-animation-duration'],
				// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
				// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
				overlay : false,
				overlayClass : 'animsition-overlay-slide',
				overlayParentElement : 'body',
				transition: function(url){ window.location.href = url; }
			});
		});
	</script>
</body>
</html>