<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
	<meta http-equiv="refresh" content="4;URL=portfolio.html">
</head>
<body>
	<div id="svg-anime-wrap">
		<div id="svg-anime">
			<img src="./images/common/logo.svg" alt="GLYPH">
		</div>
	</div>
</body>
</html>