<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<section id="container">
		<header>
			<h1><img src="./images/common/logo.png" alt="GLYPH"></h1>
			<nav>
				<ul>
					<li><a href="">portfolio</a></li>
					<li><a href="">about</a></li>
				</ul>
			</nav>
		</header>
		<section id="contents">
			<!-- Swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
					</div>

					<div class="swiper-slide">
						<img src="./images/slide/01.png" alt="">
					</div>

					<div class="swiper-slide">
						<!-- Slide-03 コンテンツを挿入する -->
					</div>
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-scrollbar"></div>
			</div>
			<!-- Swiper end -->
			<ol class="work-list">
				<li><a href="">01 GLYPHs - All members</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
				<li><a href="">title - Name Name</a></li>
			</ol>
		</section>
		<footer>
		</footer>
	</section>
</body>
</html>