<!DOCTYPE html>
<html lang="jp">
<head>
	<% include _head %>
</head>
<body>
	<section id="container">
		<header>
			<h1><a href="index.html"><img src="./images/common/logo.png" alt="GLYPH"></a></h1>
			<nav>
				<ul>
					<li><a href="portfolio.html" class="animsition-link">portfolio</a></li>
					<li><a href="about.html" class="animsition-link">about</a></li>
				</ul>
			</nav>
		</header>
		<section id="contents" class="animsition" data-animsition-in-class="fade-in-up-sm" data-animsition-in-duration="1000" data-animsition-out-class="fade-out-up-sm" data-animsition-out-duration="800">
			<!-- Swiper -->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div id="slide-01" class="swiper-slide">
						<img src="./images/slide/01.png" alt="GLYPHs">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">GLYPHs</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ All members</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div id="slide-02" class="swiper-slide">
						<img src="./images/slide/02.png" alt="タイプフェイスとデザイン展開">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">タイプフェイスとデザイン展開</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Kazuho Endo</p>
						<p class="swiper-comment" data-swiper-parallax="-300">架空の楽器店のブランディングプロセスの過程として、そのブランドイメージにあった専用タイプフェイスを制作し、それらを活用したロゴ、アプリケーションアイテムのデザイン展開を行いました。</p>
					</div>

					<div id="slide-03" class="swiper-slide">
						<img src="./images/slide/03.png" alt="振り返るこころ">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">振り返るこころ</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Sayuri Ohasi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">誰もが1度は読んだことのある夏目漱石の「こころ」を「どんな内容だっけ？」「読み返したいけど時間がない」という人のために、内容をまとめてキネティックタイポグラフィで表現しました。</p>
					</div>

					<div id="slide-04" class="swiper-slide">
						<img src="./images/slide/04.png" alt="square045">
						<h2 class="swiper-ttl swiper-ttl-img" data-swiper-parallax="-100"><img src="./images/slide/ttl/04.png" alt="square045" width="210"></h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Azusa Oba</p>
						<p class="swiper-comment" data-swiper-parallax="-300">小学生のころ算数の5mm方眼ノートに書いた文字を再構成したフォント。正方形を直角二等辺三角形で16等分し、大文字は左上半分、小文字は右下半分、記号は全体を枠に用いた。<br>
						作品名は 0°,  ±45° , 90° の直線で正方形を区切ったことに由来する。<br>
						大文字小文字を交互に組むと四角形のようになり収まりがいい。</p>
					</div>

					<div id="slide-05" class="swiper-slide">
						<img src="./images/slide/05.png" alt="H045">
						<h2 class="swiper-ttl swiper-ttl-img" data-swiper-parallax="-100"><img src="./images/slide/ttl/05.png" alt="H045" width="160"></h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Azusa Oba</p>
						<p class="swiper-comment" data-swiper-parallax="-300">スイス生まれの伝統的なフォントHelveticaと菊地敦己さんの製作した青森県立美術館オリジナルフォントを組み合せたフォントを目指し制作した。作品名は0°,±45°,90°の同幅直線を用いてHelveticaにより近いフォントを制作したいというコンセプトに由来する。</p>
						<p class="link-btn" data-swiper-parallax="-100"><a href="./more/index.html" target="_blank">Download page</a></p>
					</div>

					<div id="slide-06" class="swiper-slide">
						<img src="./images/slide/06.jpg" alt="こどもまるぽっぷ">
						<h2 class="swiper-ttl-right swiper-ttl-img" data-swiper-parallax="-100"><img src="./images/slide/ttl/06.png" alt="こどもまるぽっぷ" width="310"></h2>
						<p class="swiper-name-right swiper-name-low" data-swiper-parallax="-100">－ Satoko Yamakawa</p>
						<p class="swiper-comment-right" data-swiper-parallax="-300">丸と直線と半円だけを使ってひらがなを作ったらおもちゃみたいなフォントができました。なまえは「こどもまるぽっぷ」。このフォントを使ってこども部屋に飾るモビールをつくりました。遊び感覚でひらがなを学ぶことができるすぐれものです。</p>
					</div>

					<div id="slide-07" class="swiper-slide">
						<img src="./images/slide/07.png" alt="文字の世界">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">文字の世界</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Takahiro Nagayoshi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">物や生き物を文字で表現してみたら面白いかなと思い、文字の一部を使用したり文字を変形させたりして自由に物や生き物を形づくりました。魔法使いがいろんなものを文字にするお話でアニメーションにして表現しました。</p>
					</div>

					<div id="slide-09" class="swiper-slide">
						<img src="./images/slide/09.png" alt="M">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">M</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Suzuka Tomiishi</p>
						<p class="swiper-comment" data-swiper-parallax="-300">サカナクションというアーティストの「M」という楽曲の歌詞に合わせ、文字が流れるような映像を作りました。曲に合わせ文字がテンポ良く流れるようにタイミングを調整しています。歌詞のない部分も含め全て手描きでかいています。</p>
					</div>

					<div id="slide-10" class="swiper-slide">
						<img src="./images/slide/10.png" alt="WORD ART">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">WORD ART</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Seika Yoneyama</p>
						<p class="swiper-comment" data-swiper-parallax="-300">CMでも人気となっている昔話を、ひとつひとつアルファベットを組み合わせて描きました。それぞれの人物や物体をそれぞれの英語で描いているので、英語も学べます。</p>
					</div>

					<div id="slide-11" class="swiper-slide">
						<img src="./images/slide/11.jpg" alt="動詞を魅せる">
						<h2 class="swiper-ttl-right" data-swiper-parallax="-100">動詞を魅せる</h2>
						<p class="swiper-name-right" data-swiper-parallax="-100">－ Hinae Usami</p>
						<p class="swiper-comment-right" data-swiper-parallax="-300">昔と比べて様々なことが便利になったが故に、することが減ってしまった動作があり、その減少により体の弱りなどが現れることがあります。そのような動作をきらきらと魅力的にみせることによって意識して動かしてもらえたらと思います。</p>
					</div>

					<div id="slide-12" class="swiper-slide">
						<img src="./images/slide/12.jpg" alt="Words Heart">
						<h2 class="swiper-ttl-right" data-swiper-parallax="-100">Words Heart</h2>
						<p class="swiper-name-right" data-swiper-parallax="-100">－ Seiya Mishima</p>
						<p class="swiper-comment-right" data-swiper-parallax="-300">幸福、信頼、悲哀・・・・・・人の心は様々な要素によって出来ています。そして、それらは密接に繋がり合っています。それを表現したいと思い、一本のワイヤーからこの作品を作りました。</p>
					</div>

					<div id="slide-13" class="swiper-slide">
						<img src="./images/slide/13.jpg" alt="フォン虫">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">フォン虫</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Hanami Okayama</p>
						<p class="swiper-comment" data-swiper-parallax="-300">多種多様なフォントに触れてみたくて、立体的に視覚化したフォントを野に放ったり採集したりしました。一匹一匹生成するのは大変に骨が折れる作業でした。</p>
					</div>

					<div id="slide-14" class="swiper-slide">
						<img src="./images/slide/14.png" alt="HACHI">
						<h2 class="swiper-ttl swiper-ttl-img" data-swiper-parallax="-100"><img src="./images/slide/ttl/14.png" alt="HACHI" width="280"></h2>
						<p class="swiper-name swiper-name-low" data-swiper-parallax="-100">－ Tomoko Shirai</p>
						<p class="swiper-comment" data-swiper-parallax="-300">GLYPHのメンバーが「芸工」をテーマにフォント制作を行いました。<br>
							アルファベットの持つ意味や形状と、「芸工」の共通点を探り制作に取り入れることで賑やかなフォントが出来上がりました。</p>
					</div>

					<div id="slide-15" class="swiper-slide">
						<img src="./images/slide/15.jpg" alt="花言葉カード">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">花言葉カード</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Mei Kawashima</p>
						<p class="swiper-comment" data-swiper-parallax="-300">コンセプトは「言葉を伝えやすい形に」。普段口にするのが気恥ずかしい言葉を伝えやすいように花にメッセージを込めた花言葉カードを作りました。ステッカーになっているので大切な人へのプレゼントに貼ることができます。名刺は初対面の人へも気持ちが伝えられます。</p>
					</div>

					<div id="slide-16" class="swiper-slide">
						<img src="./images/slide/16.png" alt="Capitul">
						<h2 class="swiper-ttl" data-swiper-parallax="-100">Capitul</h2>
						<p class="swiper-name" data-swiper-parallax="-100">－ Fumine Sugiura</p>
						<p class="swiper-comment" data-swiper-parallax="-300">文字卓に入ったしせっかくならフォントを作りたい。でも日本語だと数が多い。それならアルファベットにしよう。アルファベットだけど和風がいい。鶴とかかわいい。普段使いってよりはデザインになるし大文字だけにしよう。そうしよう。</p>
					</div>

				</div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-pagination"></div>
			</div>
			<!-- Swiper end -->
		</section>
		<footer>
			<p class="copy">&copy; 2016 GLYPH</p>
		</footer>
	</section>
	<script>
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			nextButton: '.swiper-button-next',
			prevButton: '.swiper-button-prev',
			effect: 'fade',
			parallax: true,
			speed: 600,
			paginationBulletRender: function (index, className) {
		　　return '<span class="' + className + '">' + ["01 GLYPHs - All members","02 タイプフェイスとデザイン展開 - Kazuho Endo","03 振り返るこころ - Sayuri Ohashi","04 square045 - Azusa Oba","05 H045 - Azusa Oba","06 こどもまるぽっぷ - Satoko Yamakawa","07 文字の世界 - Takahiro Nagayoshi","08 M - Suzuka Tomiishi","09 WORD ART - Seika Yoneyama","10 動詞を魅せる - Hinae Usami","11 Words Heart - Seiya Mishima","12 フォン虫 - Hanami Okayama","13 HACHI - Tomoko Shirai","14 花言葉カード - Mei Kawashima","15 Capitul - Fumine Sugiura"][index] + '</span>';
		　}
		});
		$(document).ready(function() {
			//------------------animsition----------------------
			$(".animsition").animsition({
				inClass: 'fade-in-up-sm',
				outClass: 'fade-out-up-sm',
				inDuration: 1500,
				outDuration: 800,
				linkElement: '.animsition-link',
				// e.g. linkElement: 'a:not([target="_blank"]):not([href^="#"])'
				loading: true,
				loadingParentElement: 'body', //animsition wrapper element
				loadingClass: 'animsition-loading',
				loadingInner: '', // e.g '<img src="loading.svg" />'
				timeout: false,
				timeoutCountdown: 5000,
				onLoadEvent: true,
				browser: [ 'animation-duration', '-webkit-animation-duration'],
				// "browser" option allows you to disable the "animsition" in case the css property in the array is not supported by your browser.
				// The default setting is to disable the "animsition" in a browser that does not support "animation-duration".
				overlay : false,
				overlayClass : 'animsition-overlay-slide',
				overlayParentElement : 'body',
				transition: function(url){ window.location.href = url; }
			});
		});
	</script>
</body>
</html>